:root {
    --border-color: white;
  }
  
  .feedback-list {
    margin: 0;
    list-style: none;
    padding-bottom: 10%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .feedback-list li {
    padding: 30px 0;
    border: 5px solid var(--border-color);
    border-radius: 50px;
    margin: 10px;
    background-color: #dadada;
  }
  
  .feedback-list li span {
    display: block;
    text-align: center;
  }

  .list-container-f {
    background-color: rgb( 28, 69, 160);
    text-align: center;
    width: 100%;
    margin: 0%;
    padding-bottom: 10%;
  }

  .centered {
    text-align: center;
  }

  .news {
	position: relative;
	overflow: hidden;
	z-index:1;
 	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.news .img-figure {
	position: relative;
}

.news .img-figure img {
	position: relative;	
	overflow: hidden;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.news:hover .img-figure img {
	-webkit-transform: scale(1.10);
	-moz-transform: scale(1.10);
	-ms-transform: scale(1.10);
	-o-transform: scale(1.10);
	transform: scale(1.10);
}

.news .title {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
  bottom: -34px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}

.news .title h3 {
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 19px;
	text-align: center;
}

.news:hover .title  {
	margin-top: -10px;
}

.news  p.description {
	position: relative;
	font-weight: normal;
	line-height: 22px;
	display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
	padding: 15px 30px 0px 30px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}

.news:hover p.description  {
	opacity: 1;
  display: block;
}

p.more {
	text-align: center;
}

.more {
    position: absolute;
    right: 35px;
    font-size: 13px;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
    color: black;
    bottom: 20px;
}

.more :after {
    content: '';
    width: 18px;
    height: 1px;

    position: absolute;
    left: 55px;

    vertical-align: middle;
    margin-left: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.news:hover a:after {
    width: 30px;
}

.cat {
	background: rgb(0, 45.9, 100);
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 1;
	padding: 3px 15px;
  border-radius: 30px;
}

h3, .description {
  color: black;
}
.email{ 
  display:none; 
}
