:root {
    --border-color: #f1f1f1;
  }
  
  .feedback-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .feedback-list li {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
  }
  
  .feedback-list li span {
    display: block;
    text-align: center;
  }

  .list-container-f {
    background-color: aliceblue;
    text-align: center;
    width: 80%;
    margin: 10%
  }

  .centered {
    text-align: center;
  }