* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    overflow-x: hidden;
  
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
  }
  
  h1, h4 {
    margin: .5em;
  }
