* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 4;
  }
  
  body, html {
    overflow-x: hidden;
  
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
  }
  
  h1, h4 {
    margin: .5em;
  }

  ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
