body {
  background-color: rgb(28, 69, 152);
}

.title, h1, h2, label, .listcontainer, p, .checked-item, .not-checked-item {
  color: white;
  margin-top: 10px;
}

.adminButtons {
  background-color: white;
  width: 60%;
  margin: 10px;
  height: 100px;
  border-radius: 30px;
  font-size: 30px;
}

.btn-home, .btn-parking, .btn-restaurant {
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.btn-home-mobile, .btn-parking-mobile, .btn-restaurant-mobile {
  display: none;
}

input{
  font-size: 1em;
  border-radius: 20px;
  text-align: center;
}

.app {
  text-align: center;
  padding-bottom: 35%;
}
.editWidgets{
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  color: black;
  font-size: 1em;
}

/* bottom navigation */
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(28, 69, 152);
  }
  
  .navbarMenu {
    background-color: rgb(28, 69, 152);
    padding: 0.1rem;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
  }

  button {
    background-color: white;
  }

  .btn-home, .btn-parking, .btn-restaurant {
    display: none;
  }

  .btn-home-mobile, .btn-parking-mobile, .btn-restaurant-mobile {
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    padding: 1.8rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    border-width: 0px;
  }

  .btn-home-mobile {
    background-image: url(./components/image/home.svg);
    }

  .btn-parking-mobile {
    background-image: url(./components/image/car.png);
  }

  .btn-restaurant-mobile {
    background-image: url(./components/image/res.png);
  }

  .navbar img{
    width: 100%;
    height: 100%;
  }
  
  .adminButtons {
    width: 80%;
  }
}