body {
  background-color: rgb(192, 197, 199);
}

.btn-home, .btn-parking, .btn-restaurant {
  border: 1px solid #616A94;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  color: #616A94;
  background-color: #999;
  font-size: 1em;
}

.btn-home-mobile, .btn-parking-mobile, .btn-restaurant-mobile {
  display: none;
}

input{
  width: 75%;
  height: 5rem;
  font-size: 1em;
}

.App {
  text-align: center;
}

.navbar {
  background-color: rgb(217, 197, 197);
}

/* bottom navigation */
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(210, 210, 210);
  }
  
  .navbarMenu {
    background-color: rgb(80, 80, 80);
    padding: 0.1rem;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
  }

  .btn-home, .btn-parking, .btn-restaurant {
    display: none;
  }

  .btn-home-mobile, .btn-parking-mobile, .btn-restaurant-mobile {
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    padding: 1.8rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
  }

  .btn-home-mobile {
    background-image: url(./components/image/home.svg);
    }

  .btn-parking-mobile {
    background-image: url(./components/image/car.png);
  }

  .btn-restaurant-mobile {
    background-image: url(./components/image/res.png);
  }

  .navbar img{
    width: 100%;
    height: 100%;
  }
}